body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-size: 20px;
}
h1{
    font-size: 45px;
}
span{
    color: orange;
}
.imam{
    display: flex;
    margin-bottom: 15%;
}

.top-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
}
.banner_2{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.half-width {
    width: 50%;
  
}

.half-width img {
    width: 80%;
}
.sakib{
    text-align: center;
    
}
.sabit{
    text-align: center;
}
footer{
    text-align: center;
}